/Veesy.Domain/obj/*
/Veesy.Domain/bin/*
/.idea/*
/Veesy.WebApp/FilesUploaded/*
/Veesy.WebApp/bin/*
/Veesy.WebApp/obj/*
/Veesy.Service/bin/*
/Veesy.Service/obj/*
/Veesy.Presentation/bin/*
/Veesy.Presentation/obj/*
/Veesy.Email/bin/*
/Veesy.Email/obj/*
/Veesy.Media/bin/*
/Veesy.Media/obj/*
/Veesy.Utilities/bin/*
/Veesy.Utilities/obj/*
/.vs/*
/Veesy.sln.DotSettings.user
/Veesy.Validators/obj/*
/Veesy.Validators/bin/*
/Veesy.WorkerService/obj/*
/Veesy.WorkerService/bin/*
/Veesy.Discord/obj/*
/Veesy.Discord/bin/*