@{
    ViewData["Title"] = "Contacts";
}
<div class="padding-lg pt-7rem">
<div class="row p-4-lg">
    <div class="col-sm-12 col-md-6 mt-5">
        <h3 class="color-about" style="font-size: 25px !important; line-height: 30px !important;">Discover all the creators discover all the creators <br/>discover all the creators discover all the creators <br/>discover all the creators</h3>
        <div class="empty-veesy"></div>
        <p class="color-about"><b>Veesy S.R.L.</b><br/>
            Via Giacomo Matteotti 43<br/>
            20832, Desio (MB)</p>
        <div class="social-icons-row">
            <div class="col">
                <a href="#" class="social-icon"><i class="fa-brands fa-facebook icon-color-veesy"></i></a>
                <a href="#" class="social-icon"><i class="fa-brands fa-instagram icon-color-veesy"></i></a>
                <a href="#" class="social-icon"><i class="fa-brands fa-linkedin icon-color-veesy"></i></a>
                <a href="#" class="social-icon"><i class="fa-brands fa-x-twitter icon-color-veesy"></i></a></div>
        </div>
        <div class="empty-veesy"></div>
        <h3 class="color-about" style="font-size: 25px !important; line-height: 30px !important;">Any ideas? Drop us a few lines</h3>
        <div class="col-md-6 mb-4 veesy-text-color" >
            <button href="mailto:info@veesy.it" class="contact-veesy rounded-pill btn btn-primary btn-variant " type="submit">send us an email</button>
            <button href="" class="contact-veesy rounded-pill btn btn-primary btn-variant" type="submit">book a call</button>
        </div>
        <div class="empty-veesy"></div>
        <p class="mb-0 color-about">Veesy s.r.l. © 2023</p>
        <p class="mb-0 color-about">Graphic Project br <a href="https://www.derein.net/" style="text-decoration: underline !important;"><b>derein</b></a></p>
        <p class="mb-0 color-about">Web development by <a href="https://www.enigma-tech.it/" style="text-decoration: underline !important;"><b>enigma</b></a></p>
    </div>
    <div class="empty-veesy"></div>
    <div class="empty-veesy"></div>
</div>
</div>
