@{
    ViewData["Title"] = "Creators";
}

<div class="container-fluid p-lg-3 mt-5 pb-5">
    <div class="row p-lg-5 mt-5 mt-lg-2">
        <div class="col-sm-12 col-md-6">
            <h3 style="color: #202f4d; font-size: 25px !important; line-height: 30px !important;">Discover all the creators <b>discover all the creators <br/>discover all</b> the creators discover all the creators <br/>discover all the creators</h3>
        </div>
    </div>
    <div class="row px-lg-5">
        <h5 style="color: #202f4d;"><b>Filter by category</b></h5>
        @for (var i = 0; i < Model.Id.Count; i++)
        {
            <div class="col-md-3 mt-2 mb-2">
                <div class="card-white-veesy-creators p-3 mb-3 d-flex position-relative" onmouseover="highlightCard(this)" onmouseout="resetCard(this)">
                    <div class="col-3">
                        <div class="text-center">
                            <img src="@Model.BasePathImages@Model.FileNameImage[i].ToString()" class="img-thumbnail-custom rounded-circle" alt="user-image">
                        </div>
                        <a class="rounded-pill btn btn-variant" style="background-color: white; width:  160px; margin-top:  20px;" type="submit">meet the creator</a>
                    </div>
                    <div class="m-4 col-7" style="color: #202F4D;">
                        <div class="row white-cursor-creators" style="font-size: 18px;">
                            <strong>@Model.Username[i].ToString()</strong>
                        </div>
                        <div class="row white-cursor-creators">
                            @if (@Model.Role[i] != null)
                            {
                                <div style="font-size: 17px;">
                                    @Model.Role[i].ToString()
                                </div>
                            }
                        </div>
                    </div>
                    <div style="position: absolute; top: 10px; right: 10px;">
                        <i class="fa-solid fa-circle fa-xs" style="color: #202F4D;"></i>
                    </div>
                </div>
            </div>
        }
    </div>

</div>

<script>
    function highlightCard(card) {
        card.style.backgroundColor = "#536B7E";
        var whiteCreators = card.querySelectorAll(".white-cursor-creators");
        for (var t = 0; t < whiteCreators.length; t++) {
            whiteCreators[t].style.color = "white";
        }
        card.querySelector(".fa-circle").style.color = "white";
        card.style.cursor = "pointer";
    }
    
    function resetCard(card) {
        card.style.backgroundColor = "";
        var whiteCreators = card.querySelectorAll(".white-cursor-creators");
        for (var t = 0; t < whiteCreators.length; t++) {
            whiteCreators[t].style.color = "#202F4D";
        }
        card.querySelector(".fa-circle").style.color = "#202F4D";
        card.style.cursor = "";
    }

</script>
