@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Error 404";
}
<img title="Decoration1" class="img-fluid" style="position: absolute; top: 50px; left: 0px; width: 400px;" src="imgs/Page400/Group 7693.png"/>
<img title="Decoration2" class="img-fluid" style="position: absolute; bottom: 35%; right: 0px; width: 350px;" src="imgs/Page400/Group 7572.png"/>
<div style="position: absolute; bottom: 35%; left: 50px;" >
    <img class="img-fluid d-inline" src="imgs/Page400/Group 7695.png" style="width: 18px; margin-top: -20px;" alt="Immagine 2">
    <h3 class="d-inline text-color"><b>we did it again!</b></h3>
</div>
<div class="d-flex flex-column align-items-center justify-content-center vh-100">
    <div class="row">
        <div class="col-md-12 mobile-margin-top">
            <img title="Ooops" class="img-fluid w-50" style="margin-left: 25%; margin-right: 25%;" src="imgs/Page400/Ooops.png" alt="Immagine 1">
            <img class="img-fluid" src="imgs/Page400/Group 7695.png" style="margin-left: 67%; margin-top: -23%;" alt="Immagine 2">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <h3 class="text-color"><b>The page you are looking for doesn't exist</b></h3>
        </div>
    </div>
    <div>
        <div class="col-md-12 text-center">
            <a asp-area="Portfolio" asp-controller="Home" asp-action="Index">
                <button class="rounded-pill btn-primary btn-variant mt-4" style="width: 250px;" type="submit">veesy.it</button>
            </a>
        </div>
    </div>
</div>

<style>
     @@media (max-width: 767.98px) {
            .mobile-margin-top {
                margin-top: 150px; /* Regola il valore del margine top come desideri */
            }
        }
</style>
