@{
    ViewData["Title"] = "FontTest";
}

    <div class="row mt-5 pt-5 mx-3 pb-5">
        <div class="col-sm-12 col-md-12 mt-5">
            <p class="color-about" style="font-size: 75px !important;">Test font Veesy - 75px!</p>
            <div class="empty-veesy"></div>
            <p class="color-about" style="font-size: 50px !important;">Test font Veesy - 50px!</p>
            <div class="empty-veesy"></div>
            <p class="color-about" style="font-size: 36px !important;">Test font Veesy - 36px!</p>
            <div class="empty-veesy"></div>
            <p class="color-about" style="font-size: 30px !important;">Test font Veesy - 30px!</p>
            <div class="empty-veesy"></div>
            <p class="color-about" style="font-size: 28px !important;">Test font Veesy - 28px!</p>
            <div class="empty-veesy"></div>
            <p class="color-about" style="font-size: 20px !important;">Test font Veesy - 20px!</p>
            <div class="empty-veesy"></div>
            <p class="color-about" style="font-size: 18px !important;">Test font Veesy - 18px!</p>
            <div class="empty-veesy"></div>
            <p class="color-about" style="font-size: 15px !important;">Test font Veesy - 15px!</p>
            <div class="empty-veesy"></div>
            <p class="color-about" style="font-size: 12px !important;">Test font Veesy - 12px!</p>
        </div>
    </div>
