@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
	ViewData["Title"] = "Landing Discord Success";
}

<div class="d-flex justify-content-center align-items-center min-vh-100">
	<div class="cntrdiv">
		<div>
			<h6 class="py-3 px-1 fw-bold" style="font-size: 16px !important; color: #202F4D !important;">
				Evviva! Troverai una email nella tua casella di posta un link per entrare a far parte della nostra community su Discord.
			</h6>
		</div>
		<div>
			<h2 class="py-3 px-1 fw-bold" style="font-size: 20px !important; color: #202F4D !important; line-height: 27px !important;">
				Una volta entratə, potrai scambiare idee, trovare collaborazioni e accedere a risorse esclusive. La community è il cuore pulsante del networking Veesy: uno spazio e strumento di lavoro che rende le connessioni più umane e immediate. Non vuoi aspettare? Lo trovi qui giù!
			</h2>
		</div>
		<div style="max-width: max-content;">
			<div class="py-3 px-1">
				<a href="https://discord.gg/VAVfu9TQEp" target="_blank"
					 class="d-flex justify-content-center align-items-center gap-4 btn px-4 py-3 fw-bold"
					 style="background: #F0F0F0 !important; border-radius: 16px; position: relative; color: var(--text-color) !important;
								">
					entra in discord
					<div style="position: relative; display: flex; align-items: center; justify-content: center;">
						<div style="width: 24px; height: 12px; border-radius: 999px; background: #fe61ba !important; z-index: 999; mix-blend-mode: multiply; transform: rotate(-20deg)"></div>
						<div style="width: 24px; height: 12px; border-radius: 999px; background: #00CE85 !important; position: absolute; left: -13px; top: -4px;"></div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>


<style>
	.cntrdiv {
		display: flex;
		align-content: center;
		justify-content: center;
		max-width: 700px !important;
		flex-direction: column !important;
	}
</style>