@{
    ViewData["Title"] = "PlansPricing";
}
<div class="row pt-7rem">
    <div class="col-sm-12 col-md-3 mb-3">
        <nav class="breadcrumb-container" aria-label="Percorso di navigazione">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><img class="home-img me-2"><a class="breadcrumb-a me-2" asp-action="Index" asp-area="Portfolio" asp-controller="Home">dashboard</a><i class="fa-solid fa-chevron-right"></i></li>
                <li class="breadcrumb-item"><a class="breadcrumb-a" href="#"><strong>plans & pricing</strong></a></li>
            </ol>
        </nav>
    </div>
    <div class="col-sm-12 col-md-6">
        <h2 class="text-color"><strong>DashboardViewModel Plans</strong></h2>
        <p class="mb-2 mt-2 text-color" >Our free starter site plan is great for trying Veesy and create your first portfolio. Purchase a pro plan to host more than one portfolio up to 100 medias, and fully enjoy features.</p>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="d-flex justify-content-center">
            <div class="w-75-veesy card-blue-veesy p-3">
                <div class="text-end"><i class="fa-solid fa-circle fa-2xs" style="color: #ffffff;"></i></div>
                <p class="mb-0" style="color: white">Do you need some help?</p>
                <a class="a-ciano-underline" href="mailto:support@veesy.it">Contact us</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-lg-5">
<div class="row p-4">
    <div class="h-100 mt-2 col-sm-12 col-md-4">
        <div class="bg-white card-header d-flex veesy-card-top">
            <div class="col-11">
                <p class="mb-0">
                    <strong>YOUR PLAN</strong>
                </p>
            </div>
            <div class="col-1 text-end">
                <i class="fa-solid fa-circle fa-2xs" style="color: #75CCDD;"></i>
            </div>
        </div>
        <div class="card-body bg-white veesy-card-bottom"> 
            <div class="d-flex justify-content-between mt-3">
                <h2 class="text-color-price" style="font-size: 1.7rem;"><b>Basic plan</b></h2>
                <h6 class="text-color-price" style="margin-top: 0.4rem;"><b>Free</b></h6>
            </div>
            <h6 class="text-color-price p-1 card-price"><b>Starter's Choice</b></h6>
            <div class="row pt-2">
                <p class="mb-4 mt-2 text-color-price" >Best for testing Veesy  and create your first portfolio and lorem ipsum dolor sit.</p>
                <hr style="width: 95%; border: 1px solid grey; margin: 0 auto;">
                <div class="container mt-2">
                    <div class="d-flex justify-content-between" style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#Collapse0" aria-expanded="false">
                        <p class="text-color-price w-100" style="margin-bottom: 5px;"><b>10</b> lorem ipsum dolor</p>
                        <div class="circle">
                            <i class="fa-sharp fa-regular fa-plus fa-xs" style="color: white;"></i>
                        </div>
                    </div>
                    <div class="collapse" id="Collapse0">
                        <p class="text-color-price">Testo grigio nel collapse.</p>
                    </div>
                </div>
                <hr style="width: 95%; border: 1px solid grey; margin: 0 auto;">
                <div class="container mt-2">
                    <div class="d-flex justify-content-between" style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#Collapse1" aria-expanded="false">
                        <p class="text-color-price w-100" style="margin-bottom: 5px;"><b>10</b> lorem ipsum dolor</p>
                        <div class="circle">
                            <i class="fa-sharp fa-regular fa-plus fa-xs" style="color: white;"></i>
                        </div>
                    </div>
                    <div class="collapse" id="Collapse1">
                        <p class="text-color-price">Testo grigio nel collapse.</p>
                    </div>
                </div>
                <hr style="width: 95%; border: 1px solid grey; margin: 0 auto;">
                <div class="container mt-2">
                    <div class="d-flex justify-content-between" style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#Collapse2" aria-expanded="false">
                        <p class="text-color-price w-100" style="margin-bottom: 5px;"><b>10</b> lorem ipsum dolor</p>
                        <div class="circle">
                            <i class="fa-sharp fa-regular fa-plus fa-xs" style="color: white;"></i>
                        </div>
                    </div>
                    <div class="collapse" id="Collapse2">
                        <p class="text-color-price">Testo grigio nel collapse.</p>
                    </div>
                </div>
                <hr style="width: 95%; border: 1px solid grey; margin: 0 auto;">
                <div class="container mt-2">
                    <div class="d-flex justify-content-between" style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#Collapse3" aria-expanded="false">
                        <p class="text-color-price w-100" style="margin-bottom: 5px;"><b>10</b> lorem ipsum dolor</p>
                        <div class="circle">
                            <i class="fa-sharp fa-regular fa-plus fa-xs" style="color: white;"></i>
                        </div>
                    </div>
                    <div class="collapse" id="Collapse3">
                        <p class="text-color-price">Testo grigio nel collapse.</p>
                    </div>
                </div>
                <hr style="width: 95%; border: 1px solid grey; margin: 0 auto;">
                        
            </div>
                    
        </div>
    </div>
    <div class="h-100 mt-2 col-sm-12 col-md-4">
        <div class="card" id="grad-price" style="border: none;">
            <div class="card-header d-flex veesy-card-top" style="border:none !important; background-color: transparent;">
                <div class="col-11">
                    <p class="mb-0">
                    </p>
                </div>
                <div class="col-1 text-end">
                    <i class="fa-solid fa-circle fa-2xs" style="color: #ffffff;"></i>
                </div>
            </div>
            <div class="card-body veesy-card-bottom" style="border:none !important;">
                <div class="d-flex justify-content-between mt-3">
                    <h2 class="text-color-price" style=" color: #ffffff; font-size: 1.7rem;"><b>Pro Plan</b></h2>
                    <h6 class="text-color-price" style="color: #ffffff; margin-top: 0.4rem;"><b>€ 20/month</b></h6>
                </div>
                <h6 class="text-color-price p-1 card-price"><img src="/imgs/PricingPlan/main_checked.png"/><b>Most Popular</b></h6>
                <div class="row pt-2">
                    <p class="mb-4 mt-2" style="color: #ffffff;">Best for creating multiple and nested portfolios, Finding clients and hit it off professionally!</p>
                    <hr style="width: 95%; border: 1px solid #ffffff; margin: 0 auto;">
                    <div class="container mt-2">
                        <div class="d-flex justify-content-between" style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#Collapse4" aria-expanded="false">
                            <p class="text-color-price w-100" style="color: white; margin-bottom: 5px;"><b>10</b> lorem ipsum dolor</p>
                            <div class="circle">
                                <i class="fa-sharp fa-regular fa-plus fa-xs" style="color: white;"></i>
                            </div>
                        </div>
                        <div class="collapse" id="Collapse4">
                            <p style="color: #ffffff;">Testo grigio nel collapse.</p>
                        </div>
                    </div>
                    <hr style="width: 95%; border: 1px solid #ffffff; margin: 0 auto;">
                    <div class="container mt-2">
                        <div class="d-flex justify-content-between" style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#Collapse5" aria-expanded="false">
                            <p class="text-color-price w-100" style="color: #ffffff; margin-bottom: 5px;"><b>10</b> lorem ipsum dolor</p>
                            <div class="circle">
                                <i class="fa-sharp fa-regular fa-plus fa-xs" style="color: white;"></i>
                            </div>
                        </div>
                        <div class="collapse" id="Collapse5">
                            <p style="color: #ffffff;">Testo grigio nel collapse.</p>
                        </div>
                    </div>
                    <hr style="width: 95%; border: 1px solid #ffffff; margin: 0 auto;">
                    <div class="container mt-2">
                        <div class="d-flex justify-content-between" style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#Collapse6" aria-expanded="false">
                            <p class="text-color-price w-100" style="color: #ffffff; margin-bottom: 5px;"><b>10</b> lorem ipsum dolor</p>
                            <div class="circle">
                                <i class="fa-sharp fa-regular fa-plus fa-xs" style="color: white;"></i>
                            </div>
                        </div>
                        <div class="collapse" id="Collapse6">
                            <p style="color: #ffffff;">Testo grigio nel collapse.</p>
                        </div>
                    </div>
                    <hr style="width: 95%; border: 1px solid #ffffff; margin: 0 auto;">
                    <div class="container mt-2">
                        <div class="d-flex justify-content-between" style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#Collapse7" aria-expanded="false">
                            <p class="text-color-price w-100" style="color: #ffffff; margin-bottom: 5px;"><b>10</b> lorem ipsum dolor</p>
                            <div class="circle">
                                <i class="fa-sharp fa-regular fa-plus fa-xs" style="color: white;"></i>
                            </div>
                        </div>
                        <div class="collapse" id="Collapse7">
                            <p style="color: #ffffff;">Testo grigio nel collapse.</p>
                        </div>
                    </div>
                    <hr style="width: 95%; border: 1px solid #ffffff; margin: 0 auto;">
                    <div class="container mt-2">
                        <div class="d-flex justify-content-between" style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#Collapse8" aria-expanded="false">
                            <p class="text-color-price w-100" style="color: #ffffff; margin-bottom: 5px;"><b>10</b> lorem ipsum dolor</p>
                            <div class="circle">
                                <i class="fa-sharp fa-regular fa-plus fa-xs" style="color: white;"></i>
                            </div>
                        </div>
                        <div class="collapse" id="Collapse8">
                            <p style="color: #ffffff;">Testo grigio nel collapse.</p>
                        </div>
                    </div>
                    <hr style="width: 95%; border: 1px solid #ffffff; margin: 0 auto;">
                    <div class="col-12"><a asp-action="Contacts" asp-controller="Public" asp-area="Public" class="rounded-pill mt-2 btn btn-white-variant w-100" style="font-size: 14px;" type="submit">upgrade</a></div>
                </div>
            </div>

        </div>
    </div>
    <div class="h-100 mt-2 col-sm-12 col-md-4">
        <div class="bg-white card-header d-flex veesy-card-top" style="border:none !important;">
            <div class="col-11">
                <p class="mb-0">
                </p>
            </div>
            <div class="col-1 text-end">
                <i class="fa-solid fa-circle fa-2xs" style="color: #75CCDD;"></i>
            </div>
        </div>
        <div class="card-body bg-white veesy-card-bottom" style="border:none !important;">
            <div class="d-flex justify-content-between mt-3">
                <h2 class="text-color-price" style="font-size: 1.7rem;"><b>Plus plan</b></h2>
                <h6 class="text-color-price d-none" style="margin-top: 0.4rem;"><b>Free</b></h6>
            </div>
            <h6 class="text-color-price p-1 card-price" style="visibility: hidden;"><b>Starter's Choice</b></h6>
            <div class="row pt-2">
                <p class="mb-4 mt-2 text-color-price">Best for creating multiple and nested portfolios, Finding clients and hit it off professionally!</p>
                <hr style="width: 95%; border: 1px solid grey; margin: 0 auto;">
                <div class="container mt-2">
                    <div class="d-flex justify-content-between" style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#Collapse9" aria-expanded="false">
                        <p class="text-color-price w-100" style="margin-bottom: 5px;"><b>10</b> lorem ipsum dolor</p>
                        <div class="circle">
                            <i class="fa-sharp fa-regular fa-plus fa-xs" style="color: white;"></i>
                        </div>
                    </div>
                    <div class="collapse" id="Collapse9">
                        <p class="text-color-price">Testo grigio nel collapse.</p>
                    </div>
                </div>
                <hr style="width: 95%; border: 1px solid grey; margin: 0 auto;">
                <div class="container mt-2">
                    <div class="d-flex justify-content-between" style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#Collapse10" aria-expanded="false">
                        <p class="text-color-price w-100" style="margin-bottom: 5px;"><b>10</b> lorem ipsum dolor</p>
                        <div class="circle">
                            <i class="fa-sharp fa-regular fa-plus fa-xs" style="color: white;"></i>
                        </div>
                    </div>
                    <div class="collapse" id="Collapse10">
                        <p class="text-color-price">Testo grigio nel collapse.</p>
                    </div>
                </div>
                <hr style="width: 95%; border: 1px solid grey; margin: 0 auto;">
                <div class="container mt-2">
                    <div class="d-flex justify-content-between" style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#Collapse11" aria-expanded="false">
                        <p class="text-color-price w-100" style="margin-bottom: 5px;"><b>10</b> lorem ipsum dolor</p>
                        <div class="circle">
                            <i class="fa-sharp fa-regular fa-plus fa-xs" style="color: white;"></i>
                        </div>
                    </div>
                    <div class="collapse" id="Collapse11">
                        <p class="text-color-price">Testo grigio nel collapse.</p>
                    </div>
                </div>
                <hr style="width: 95%; border: 1px solid grey; margin: 0 auto;">
                <div class="container mt-2">
                    <div class="d-flex justify-content-between" style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#Collapse12" aria-expanded="false">
                        <p class="text-color-price w-100" style="margin-bottom: 5px;"><b>10</b> lorem ipsum dolor</p>
                        <div class="circle">
                            <i class="fa-sharp fa-regular fa-plus fa-xs" style="color: white;"></i>
                        </div>
                    </div>
                    <div class="collapse" id="Collapse12">
                        <p class="text-color-price">Testo grigio nel collapse.</p>
                    </div>
                </div>
                <hr style="width: 95%; border: 1px solid grey; margin: 0 auto;">
                <div class="container mt-2">
                    <div class="d-flex justify-content-between" style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#Collapse13" aria-expanded="false">
                        <p class="text-color-price w-100" style="margin-bottom: 5px;"><b>10</b> lorem ipsum dolor</p>
                        <div class="circle">
                            <i class="fa-sharp fa-regular fa-plus fa-xs" style="color: white;"></i>
                        </div>
                    </div>
                    <div class="collapse" id="Collapse13">
                        <p class="text-color-price">Testo grigio nel collapse.</p>
                    </div>
                </div>
                <hr style="width: 95%; border: 1px solid grey; margin: 0 auto;">
                <div class="col-12"><button class="rounded-pill mt-2 btn btn-white w-100" style="font-size: 14px; color:  #74CBDC" type="submit">coming soon</button></div>
            </div>
        </div>
    </div>
</div>
</div>