@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="padding-lg pt-7rem">
<div class="row p-4-lg">
<div class="col-3"></div>
<div class="col-6">
<div class="empty-veesy"></div>
<h1><strong>Privacy Policy</strong></h1>
<div class="empty-veesy"></div>
<h3><strong>Informativa sulla Privacy</strong></h3>
<h3><strong>Titolare del trattamento dei dati</strong></h3>
<p>Il titolare del trattamento dei dati è Veesy S.R.L., con sede legale in Via Giacomo Matteotti 43, 20832, Desio (MB), partita IVA 13005470961, capitale sociale di € 10.000</p>

<div class="empty-veesy"></div>
<h3><strong>Tipi di dati personali raccolti
</strong></h3>

<p class="mb-4 mt-4">I tipi di dati personali che raccogliamo sono:</p>
<ul>
    <li>Nome e cognome</li>
    <li>Indirizzo email</li>
    <li>Numero di telefono</li>
    <li>Indirizzo IP</li>
    <li>Dati di utilizzo del sito web</li>
</ul>


<h3><strong>Finalità del trattamento dei dati personali</strong></h3>
<p class="mb-4 mt-4">Raccogliamo i dati personali per le seguenti finalità:</p>
<ul>
    <li>Fornire i nostri servizi: I dati personali sono necessari per fornirti i nostri servizi, come l'accesso al sito web, la creazione di un account, l'acquisto di prodotti o servizi, o la richiesta di informazioni.</li>
    <li>Inviare comunicazioni di marketing: Con il tuo consenso, possiamo utilizzare i tuoi dati personali per inviarti comunicazioni di marketing, come newsletter, offerte e promozioni.</li>
    <li>Eseguire analisi statistiche: Utilizziamo i dati personali per eseguire analisi statistiche, al fine di migliorare i nostri servizi e comprendere meglio le esigenze dei nostri utenti.</li>
</ul>

<h3><strong>Modalità di trattamento dei dati personali</strong></h3>
<p class="mb-4 mt-4">I dati personali sono trattati con strumenti automatizzati e non automatizzati, con logiche strettamente correlate alle finalità per le quali sono stati raccolti.</p>

<h3><strong>Destinatari dei dati personali</strong></h3>
<p class="mb-4 mt-4">I dati personali possono essere comunicati a terzi, esclusivamente per le finalità indicate nella presente informativa.</p>
<ul>
    <li>Fornitori di servizi: Condividiamo i dati personali con i nostri fornitori di servizi, che ci aiutano a fornire i nostri servizi, come la gestione del sito web, l'elaborazione dei pagamenti e l'invio di comunicazioni di marketing.</li>
    <li>Autorità pubbliche: In alcuni casi, possiamo essere tenuti a condividere i dati personali con le autorità pubbliche, se ciò è necessario per adempiere a un obbligo legale o per proteggere i nostri interessi legittimi.</li>
</ul>

<h3><strong>Diritti degli interessati</strong></h3>
<p class="mb-4 mt-4">Gli interessati hanno il diritto di:</p>
<ul>
    <li>Accesso ai propri dati personali: Puoi richiedere di accedere ai tuoi dati personali, in qualsiasi momento.</li>
    <li>Rettifica o cancellazione dei propri dati personali: Puoi richiedere la rettifica o la cancellazione dei tuoi dati personali, se sono inesatti o incompleti.</li>
    <li>Limitazione del trattamento dei propri dati personali: Puoi richiedere la limitazione del trattamento dei tuoi dati personali, se ritieni che il trattamento sia illegittimo o che i dati non siano più necessari per le finalità per le quali sono stati raccolti.</li>
    <li>Opposizione al trattamento dei propri dati personali: Puoi opporti al trattamento dei tuoi dati personali, se ritieni che il trattamento sia illegittimo o che i dati non siano più necessari per le finalità per le quali sono stati raccolti.</li>
    <li>Portabilità dei propri dati personali: Puoi richiedere la portabilità dei tuoi dati personali, in un formato strutturato, di uso comune e leggibile da dispositivo automatico.</li>
</ul>
<p class="mb-4 mt-4">Per esercitare i propri diritti, gli interessati possono contattare il titolare del trattamento dei dati.</p>


<h3><strong>Modifiche alla presente informativa</strong></h3>
<p class="mb-4 mt-4">La presente informativa può essere modificata in qualsiasi momento. L'utente è invitato a consultare periodicamente la privacy policy per essere sempre aggiornato sulle ultime modifiche.</p>

<h3><strong>Contattaci</strong></h3>
<p class="mb-4 mt-4">Se hai domande o dubbi sulla privacy policy o sui termini e condizioni di utilizzo del sito web, puoi contattarci.</p>

<h3><strong>Note legali</strong></h3>
<p class="mb-4 mt-4">Il sito web è di proprietà e gestito da Veesy S.R.L. Tutti i diritti sono riservati.</p>

</div>
<div class="col-3"></div>
</div>
<div class="empty-veesy"></div>
<div class="empty-veesy"></div>
</div>
