@{
    ViewData["Title"] = "Splash";
}

<div class="container-fluid container-splash">
  <div class="row row-splash">
    <div class="col-md-2">
      <div class="box-splash">
        <img class="img-splash img-variant-1" src="/imgs/Splash/Render_2-downscale-art-width-1500px-1024x1024.jpg" id="Immagine1">
      </div>
    </div>
    <div class="col-md-2 d-none d-sm-block">
      <div class="box-splash">
        <img class="img-splash img-variant" src="/imgs/Splash/The-Unfolding-Home-06-1024x1024.png" id="Immagine2">
      </div>
    </div>
    <div class="col-md-2 d-none d-sm-block">
      <div class="box-splash">
        <img class="img-splash img-variant" src="/imgs/Splash/SQUARE_Pizza-3-1024x1024.jpg" id="Immagine3">
      </div>
    </div>
    <div class="col-md-2 d-none d-sm-block">
      <div class="box-splash">
        <img class="img-splash img-variant" src="/imgs/Splash/Ducati_caferacer_1500-1024x968.jpg" id="Immagine4">
      </div>
    </div>
    <div class="col-md-2 d-none d-sm-block">
      <div class="box-splash">
        <img class="img-splash img-variant" src="/imgs/Splash/chevy2_1500-1024x920.jpg" id="Immagine5">
      </div>
    </div>
    <div class="col-md-2 d-none d-sm-block">
      <div class="box-splash">
        <img class="img-splash img-variant" src="/imgs/Splash/Black_Museum_01-1024x1024.png" id="Immagine6">
      </div>
    </div>
  </div>
  <div class="row row-splash">
    <div class="col-md-2 d-none d-sm-block">
      <div class="box-splash">
        <img class="img-splash img-variant" src="/imgs/Splash/Winter-day_03-gigapixel-art-width-1500px-1024x1024.jpg" id="Immagine7">
      </div>
    </div>
    <div class="col-md-2 d-none d-sm-block">
      <div class="box-splash">
        <img class="img-splash img-variant-8" src="/imgs/Splash/Tank-Girl-Redux_02-1024x1024.png" id="Immagine8">
      </div>
    </div>
    <div class="col-md-2 d-none d-sm-block">
      <div class="box-splash">
        <img class="img-splash img-variant" src="/imgs/Splash/Residence-WULF-02-1024x1024.png" id="Immagine9">
      </div>
    </div>
    <div class="col-md-2 d-none d-sm-block">
      <div class="box-splash">
        <img class="img-splash img-variant" src="/imgs/Splash/Night2-1024x1024.jpg" id="Immagine10">
      </div>
    </div>
    <div class="col-md-2 d-none d-sm-block">
      <div class="box-splash">
        <img class="img-splash img-variant" src="/imgs/Splash/Night-Walk-1024x1024.jpg" id="Immagine11">
      </div>
    </div>
    <div class="col-md-2 d-none d-sm-block">
      <div class="box-splash">
        <img class="img-splash img-variant" src="/imgs/Splash/61dc6ed5ee986024c79e0b73_alcea_02.jpg" id="Immagine12">
      </div>
    </div>
  </div>
  <div class="row row-splash">
    <div class="col-md-2">
      <div class="box-splash">
        <img class="img-splash img-variant-13" src="/imgs/Splash/The-Unfolding-Home-06-1024x1024.png" id="Immagine13">
      </div>
    </div>
    <div class="col-md-2 d-none d-sm-block">
      <div class="box-splash">
        <img class="img-splash img-variant" src="/imgs/Splash/lamp2-copia-downscale-art-width-1500px-1024x1024.jpg" id="Immagine14">
      </div>
    </div>
    <div class="col-md-2 d-none d-sm-block">
      <div class="box-splash">
        <img class="img-splash img-variant-15" src="/imgs/Splash/furyroad2-2-gigapixel-art-height-1500px-1024x1024 (1).jpg" id="Immagine15">
      </div>
    </div>
    <div class="col-md-2 d-none d-sm-block">
      <div class="box-splash">
        <img class="img-splash img-variant-16" src="/imgs/Splash/Curiosity-gigapixel-standard-width-1500px-1024x1024.jpeg" id="Immagine16">
      </div>
    </div>
    <div class="col-md-2 d-none d-sm-block">
      <div class="box-splash">
        <img class="img-splash img-variant" src="/imgs/Splash/11-Vd-gigapixel-art-width-1500px-1024x1024.jpeg" id="Immagine17">
      </div>
    </div>
    <div class="col-md-2 d-none d-sm-block">
      <div class="box-splash">
        <img class="img-splash img-variant" src="/imgs/Splash/7-1024x1024.jpg" id="Immagine18">
      </div>
    </div>
  </div>
  
</div>

<div class="centered-text">
  <h1 class="h1-variant-splash">Visual made <b>Easy.</b></h1>
  <div class="col-md-12 mb-4 veesy-text-color">
    <a class="rounded-pill btn btn-primary-about-variant-splash btn-variant" style="margin-right: 15px;" type="submit">join</a>
    <a class="rounded-pill btn btn-primary-about-splash btn-variant" type="submit" style="margin-left: 15px;">log in</a>
  </div>
</div>

<div class="creator-popup-splash" id="creator-popup-splash-id" onclick="OpenCreatorPopup()">
  <div class="d-flex">
    <div class="col-11">
      <p class="text-white ms-2 mb-1 mt-1">LOOKING FOR A FREELANCER?</p>
    </div>
    <div class="col-1"><div class="text-end pt-1"><i class="fa-solid fa-circle fa-xs me-2" style="color: white;"></i></div></div>
  </div>
</div>

<div class="creator-popup-full-splash me-2 mb-2" id="popup-creator">
  <div class="d-flex" style="cursor: pointer" onclick="CloseCreatorPopup()">
    <div class="col-11">
      <p class="text-white ms-2 mb-1 mt-1">LOOKING FOR A FREELANCER?</p>
    </div>
    <div class="col-1 pe-2"><div class="text-end pt-1"><i class="fa-solid fa-circle-xmark" style="color: white"></i></div></div>
  </div>
  <hr class="portfolio-hr"/> 
  <div class="row creator-popup-body overflow-auto ms-0">
    <div class="row p-4 pb-2">
      <h5 class="text-white box-splash-2">Veesy helps you find<br/> the right network to build<br/> your work team.</h5>
    </div>
    <div class="row text-end justify-content-end">
      <a href="" class="rounded-pill btn div-white-rounded-veesy btn-variant" style="width: 150px;">discover more</a>
    </div>
  </div>
</div>

<div class="modal" id="fullScreenModal" style="z-index: 9999; display: none;" tabindex="-1" aria-labelledby="fullScreenModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background-color: #060B19;">
            <div class="modal-body">
                <div id="message-container">
                    <img class="message" style="width: 120px;" src="/imgs/veesy_vettoriale_enigma_white.png"></img>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .box-splash {
      text-align: center;
      padding: 7px;
    }
    .row-splash{
         margin-right: 0 !important;
         --bs-gutter-x: 0rem;
         margin-left: 0 !important;
    }
    .img-splash {
      max-width: 95%;
      height: auto;
      border-radius: 15px;
    }
    footer{
    display:  none;
    }
    .container-splash{
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    
    .bg-grey-veesy{
      padding-left: 0px !important;
      padding-right: 0px !important;     
    }
    
    .img-variant{
      transition: all 0.9s;
    }
    
    .img-variant-1{
     transition: all 0.9s;
     transform-origin: left top;
    }
    
    .img-variant-8{
     transition: all 0.9s;
     transform-origin: right bottom;
    }
    
    .img-variant-13{
     transition: all 0.9s;
     transform-origin: right top;
    }
        
    .img-variant-15{
     transition: all 0.9s;
     transform-origin: left bottom;
    }
    
    .img-variant-16{
       transition: all 0.9s; 
       transform-origin: right bottom;
      }
      
      .centered-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
          
      .container-splash{
        opacity: 0.2;
      }
      
      body {
        overflow-y: hidden;
      }
    
    .message {
        text-align: center;
        transition: 1s;
        position: absolute;
        top: 47.6%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    h1{
      color:  white;
    }
  </style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Importa jQuery se necessario -->

<script>
    function setImg() {
      document.getElementById("Immagine1").style.transform = "scale(0.5)";
      document.getElementById("Immagine2").style.transform = "scale(0.0)";
      document.getElementById("Immagine4").style.transform = "scale(0.0)";
      document.getElementById("Immagine5").style.transform = "scale(0.0)";
      document.getElementById("Immagine7").style.transform = "scale(0.0)";
      document.getElementById("Immagine8").style.transform = "scale(0.8)";
      document.getElementById("Immagine9").style.transform = "scale(0.0)";
      document.getElementById("Immagine11").style.transform = "scale(0.0)";
      document.getElementById("Immagine12").style.transform = "scale(0.0)";
      document.getElementById("Immagine13").style.transform = "scale(0.4)";
      document.getElementById("Immagine15").style.transform = "scale(0.5)";
      document.getElementById("Immagine16").style.transform = "scale(0.7)";
      document.getElementById("Immagine17").style.transform = "scale(0.0)";
    }

    window.addEventListener("load", function() {
        setTimeout(setImg, 6000); 
    });
    
    function OpenCreatorPopup(){
        document.getElementById("popup-creator").classList.add("creator-popup-full-open");
        document.getElementById("popup-creator").classList.remove("creator-popup-full-close");
        document.getElementById("creator-popup-splash-id").style.display = "none";
    }
    function CloseCreatorPopup(){
        document.getElementById("popup-creator").classList.remove("creator-popup-full-open")
        document.getElementById("popup-creator").classList.add("creator-popup-full-close")
        document.getElementById("creator-popup-splash-id").style.display = "block";
    }
    
     document.addEventListener("DOMContentLoaded", function() {
       var fullScreenModal = new bootstrap.Modal(document.getElementById('fullScreenModal'));
     
       // Visualizza il modal
       fullScreenModal.show();
     
       setTimeout(function() {
         var opacity = 1;
         var interval = 50; // L'intervallo di tempo tra le riduzioni di opacità in millisecondi
         var colorTint = { r: 0, g: 0, b: 85 }; // Colore iniziale (blu)
         var targetColor = { r: 32, g: 47, b: 77 }; // Colore di destinazione (202F4D)
     
         var fadeOutInterval = setInterval(function() {
           if (opacity <= 0) {
             // Quando l'opacità raggiunge 0, nascondi il modal
             clearInterval(fadeOutInterval);
             fullScreenModal.hide();
           } else {
             // Riduci l'opacità gradualmente
             opacity -= 0.05; // Puoi regolare il valore in base a quanto velocemente vuoi che scompaia
             colorTint.r = Math.round(colorTint.r + (targetColor.r - colorTint.r) * 0.05);
             colorTint.g = Math.round(colorTint.g + (targetColor.g - colorTint.g) * 0.05);
             colorTint.b = Math.round(colorTint.b + (targetColor.b - colorTint.b) * 0.05);
     
             fullScreenModal._dialog.style.opacity = opacity;
             fullScreenModal._dialog.style.backgroundColor = `rgb(${colorTint.r}, ${colorTint.g}, ${colorTint.b})`;
     
             document.getElementById("message").style.color = `#${colorTint.r.toString(16)}${colorTint.g.toString(16)}${colorTint.b.toString(16)}`;
           }
         }, interval);
       }, 5000);
     });

    
    document.addEventListener("DOMContentLoaded", function () {
      const messageContainer = document.getElementById("message-container");
      const message = document.querySelector(".message");
    
      setTimeout(function () {
        message.style.top = "38%";
    
        const newMessage = document.createElement("div");
        newMessage.classList.add("message");
        newMessage.innerHTML = "<h1>Visual made <b>Easy.</b></h1>";
        newMessage.style.opacity = 0; 
        messageContainer.appendChild(newMessage);
    
        setTimeout(function () {
          newMessage.style.opacity = 1; 
        }, 100); 
      }, 2000); 
    });
</script>