@{
    ViewData["Title"] = "Splash";
}

<div class="container-fluid container-splash">
  <div class="row row-splash">
    <div class="col-md-2">
      <div class="box-splash">
        <img class="img-splash img-variant-1" src="/imgs/Splash/Render_2-downscale-art-width-1500px-1024x1024.jpg" id="Immagine1">
      </div>
    </div>
    <div class="col-md-2">
      <div class="box-splash">
        <img class="img-splash img-variant" src="/imgs/Splash/The-Unfolding-Home-06-1024x1024.png" id="Immagine2">
      </div>
    </div>
    <div class="col-md-2">
      <div class="box-splash">
        <img class="img-splash img-variant" src="/imgs/Splash/SQUARE_Pizza-3-1024x1024.jpg" id="Immagine3">
      </div>
    </div>
    <div class="col-md-2">
      <div class="box-splash">
        <img class="img-splash img-variant" src="/imgs/Splash/Ducati_caferacer_1500-1024x968.jpg" id="Immagine4">
      </div>
    </div>
    <div class="col-md-2">
      <div class="box-splash">
        <img class="img-splash img-variant" src="/imgs/Splash/chevy2_1500-1024x920.jpg" id="Immagine5">
      </div>
    </div>
    <div class="col-md-2">
      <div class="box-splash">
        <img class="img-splash img-variant" src="/imgs/Splash/Black_Museum_01-1024x1024.png" id="Immagine6">
      </div>
    </div>
  </div>
  <div class="row row-splash">
    <div class="col-md-2">
      <div class="box-splash">
        <img class="img-splash img-variant" src="/imgs/Splash/Winter-day_03-gigapixel-art-width-1500px-1024x1024.jpg" id="Immagine7">
      </div>
    </div>
    <div class="col-md-2">
      <div class="box-splash">
        <img class="img-splash img-variant-8" src="/imgs/Splash/Tank-Girl-Redux_02-1024x1024.png" id="Immagine8">
      </div>
    </div>
    <div class="col-md-2">
      <div class="box-splash">
        <img class="img-splash img-variant" src="/imgs/Splash/Residence-WULF-02-1024x1024.png" id="Immagine9">
      </div>
    </div>
    <div class="col-md-2">
      <div class="box-splash">
        <img class="img-splash img-variant" src="/imgs/Splash/Night2-1024x1024.jpg" id="Immagine10">
      </div>
    </div>
    <div class="col-md-2">
      <div class="box-splash">
        <img class="img-splash img-variant" src="/imgs/Splash/Night-Walk-1024x1024.jpg" id="Immagine11">
      </div>
    </div>
    <div class="col-md-2">
      <div class="box-splash">
        <img class="img-splash img-variant" src="/imgs/Splash/Linea-GeoSolvente_00-801x1024.jpg" id="Immagine12">
      </div>
    </div>
  </div>
  <div class="row row-splash">
    <div class="col-md-2">
      <div class="box-splash">
        <img class="img-splash img-variant-13" src="/imgs/Splash/Linea-CPS_01-878x1024.jpg" id="Immagine13">
      </div>
    </div>
    <div class="col-md-2">
      <div class="box-splash">
        <img class="img-splash img-variant" src="/imgs/Splash/lamp2-copia-downscale-art-width-1500px-1024x1024.jpg" id="Immagine14">
      </div>
    </div>
    <div class="col-md-2">
      <div class="box-splash">
        <img class="img-splash img-variant-15" src="/imgs/Splash/furyroad2-2-gigapixel-art-height-1500px-1024x1024 (1).jpg" id="Immagine15">
      </div>
    </div>
    <div class="col-md-2">
      <div class="box-splash">
        <img class="img-splash img-variant-16" src="/imgs/Splash/Curiosity-gigapixel-standard-width-1500px-1024x1024.jpeg" id="Immagine16">
      </div>
    </div>
    <div class="col-md-2">
      <div class="box-splash">
        <img class="img-splash img-variant" src="/imgs/Splash/11-Vd-gigapixel-art-width-1500px-1024x1024.jpeg" id="Immagine17">
      </div>
    </div>
    <div class="col-md-2">
      <div class="box-splash">
        <img class="img-splash img-variant" src="/imgs/Splash/7-1024x1024.jpg" id="Immagine18">
      </div>
    </div>
  </div>
  
</div>

<div class="centered-text">
  <p style="font-size: 35px !important;">Visual made <b>Easy.</b></p>
  <div class="col-md-12 mb-4 veesy-text-color">
    <a class="rounded-pill btn btn-primary-about-variant btn-variant" style="margin-right: 15px;" type="submit">join</a>
    <a class="rounded-pill btn btn-primary-about btn-variant" type="submit" style="margin-left: 15px;">log in</a>
  </div>
</div>

<style>
    .box-splash {
      text-align: center;
      padding: 7px;
    }
    .row-splash{
         margin-right: 0 !important;
         --bs-gutter-x: 0rem;
         margin-left: 0 !important;
    }
    .img-splash {
      max-width: 100%;
      height: auto;
      border-radius: 15px;
    }
    footer{
    display:  none;
    }
    .container-splash{
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    
    .bg-grey-veesy{
      padding-left: 0px !important;
      padding-right: 0px !important;     
    }
    
    .img-variant{
      transition: all 0.5s; 
    }
    .img-variant-1{
     transition: all 0.5s; 
     transform-origin: left top;
    }
    
    .img-variant-8{
     transition: all 0.5s; 
     transform-origin: right bottom;
    }
    
    .img-variant-13{
     transition: all 0.5s; 
     transform-origin: right top;
    }
        
    .img-variant-15{
     transition: all 0.5s; 
     transform-origin: left bottom;
    }
    
    .img-variant-16{
       transition: all 0.5s; 
       transform-origin: right bottom;
      }
      
      .centered-text {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
          
      .container-splash{
        opacity: 0.2;
      }
  </style>
  
<script>
    function setImg() {
      document.getElementById("Immagine1").style.transform = "scale(0.5)";
      document.getElementById("Immagine2").style.transform = "scale(0.0)";
      document.getElementById("Immagine4").style.transform = "scale(0.0)";
      document.getElementById("Immagine5").style.transform = "scale(0.0)";
      document.getElementById("Immagine7").style.transform = "scale(0.0)";
      document.getElementById("Immagine8").style.transform = "scale(0.8)";
      document.getElementById("Immagine9").style.transform = "scale(0.0)";
      document.getElementById("Immagine11").style.transform = "scale(0.0)";
      document.getElementById("Immagine12").style.transform = "scale(0.0)";
      document.getElementById("Immagine13").style.transform = "scale(0.4)";
      document.getElementById("Immagine15").style.transform = "scale(0.5)";
      document.getElementById("Immagine16").style.transform = "scale(0.7)";
      document.getElementById("Immagine17").style.transform = "scale(0.0)";
    }

    // Attiva la funzione quando la pagina è stata caricata
    window.addEventListener("load", setImg);
</script>