<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Veesy.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Veesy.WebApp.styles.css" asp-append-version="true" />
</head>
<body>
   <header>
        <div class="pt-3 header-veesy container-fluid p-2">
            <img class="h-100" src="~/imgs/Logo-Veesy-Bianco.png"/>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Veesy.WebApp - <a>Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
