@{
    ViewData["Title"] = "Upload Media";
}

<div class="mb-3">
    <label for="formFile" class="form-label">Default file input example</label>
    <input as id="file-input" name="File" class="form-control" type="file">
</div>
<a id="send-media" type="button">Invia</a>

@* <video width="320" height="240" controls> *@
@*     <source src="https://localhost:7218/media/OriginalMedia/c43ba25e119d4f0ebb23c880a7206442.mp4" type="video/mp4"> *@
@* </video> *@

<script>

let worker;

if ('serviceWorker' in navigator) {
  window.addEventListener('load', () => {
    navigator.serviceWorker.getRegistrations().then(registrations => {
      const isServiceWorkerNotRegistered = registrations.length === 0;

      if (!isServiceWorkerNotRegistered) {
          console.log('Service worker already registered.');
          for(let registration of registrations) {
              if (registration.active.scriptURL.includes("service_worker.js"))
                worker = registration.active;
          }  
      }
      else{
          navigator.serviceWorker.register('/js/service_worker.js').then(registration => {
              console.log('Service Worker registered with scope:', registration.scope);
              
          }).catch(error => {
              console.log('Service Worker registration failed:', error);
          });
      }
    });
  });
}

let button_send = document.getElementById('send-media');
let fileInput = document.getElementById('file-input');
let file;
fileInput.addEventListener('change', function(event) {
  file = event.target.files[0];
});

button_send.addEventListener('click', function(event) {
  worker.postMessage({ file: file });
});

</script>