<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation=""
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="./Log/console-internal.log"
      internalLogLevel="Error">

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="fileTarget" fileName="./Log/Veesy-${shortdate}.log"
            layout="${longdate} ${uppercase:${level}}: ${message} ${exception:format=tostring}"
            archiveNumbering="Sequence"
            archiveAboveSize="20000000"
            maxArchiveFiles="10"/>
    <target xsi:type="Console" name="consoleTarget"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}|${all-event-properties}"/>
    <target xsi:type="Null" name="blackHole" formatMessage="false"/>
    <target xsi:type="EventLog" name="eventlog"
            layout="${longdate} ${uppercase:${level}}: ${message} ${exception:format=tostring} | ${stacktrace}"/>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="Microsoft.AspNetCore.*" minlevel="Debug" writeTo="blackHole" final="true"/>
    <logger name="Microsoft.EntityFrameworkCore.*" minlevel="Debug" writeTo="blackHole" final="true"/>
    <logger name="*" minlevel="Debug" writeTo="fileTarget,consoleTarget,eventlog"/>
  </rules>
</nlog>