
<style>
    
</style>

<div class="vertical-center text-center bg-grey-veesy bg-auth">
    <div class="container">
        <div class="row row-login-padding">
            <div class="col-md-6 offset-md-3">
                <h1 class="h3 mb-3 mt-2 fw-normal text-color">Welcome to <b>Veesy</b><br/> Community!</h1>
                <div style="height: 20px;"></div>
                <div class="text-center rounded size-custom" style="background-color: #B7DBE3; font-weight:  500;">
                    well done,<br/>your email is confirmed!
                </div>

                <form method="get" asp-area="Auth" asp-controller="Auth" asp-action="Login">
                    <button class="a-font-p w-100 mt-4 rounded-pill btn btn-primary signup" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>