
<style>
    
</style>

<div class="vertical-center text-center bg-grey-veesy bg-auth">
    <div class="container">
        <div class="row row-login-padding">
            <div class="col-md-6 offset-md-3">
                <h1 class="h3 mb-3 mt-2 fw-normal text-color">Welcome to <b>Veesy</b><br/> Community!</h1>
                <div style="height: 20px;"></div>
                <div class="text-center rounded size-custom" style="background-color: #B7DBE3; font-weight:  500;">
                    well done,<br/>your email is confirmed!
                </div>

                <a asp-area="Portfolio" asp-controller="Home" asp-action="Index" asp-ac class="w-100 mt-4 rounded-pill btn btn-primary signup" type="submit">view dashboard</a>
                <p class="mt-4 mb-3 fw-border size-custom">Didn't you get the email?
                    <a style="color:#75CCDD;" asp-action="SendEmailVerification" asp-route-email="@Model.Email" asp-area="Auth" asp-controller="Auth">Send again</a>
                </p>
            </div>
        </div>
    </div>
</div>