@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Veesy.Presentation.Model.Auth.LoginViewModel
@{
    ViewData["Title"] = "Forgot Password";
}

    <div class="vertical-center text-center bg-grey-veesy bg-auth">
        <div class="container">
            <div class="row row-login-padding">
                <div class="col-md-6 offset-md-3">
                    <form method="post">
                        <h1 class="h3 mb-2 mt-4 pt-5 mt-md-3 pt-md-0 fw-normal text-color">Trouble with loggin in?</h1>
                        <p class="mt-3 mb-3 size-custom">Enter your email address or username, we'll send you a link to reset your password.</p>
                        <div style="height: 20px;"></div>
                        <div class="input-group">
                            <p class="mb-0 fw-border size-custom"><strong>Username or Email</strong></p>
                            <input asp-for="Email" class="input--style-1 mt-2 text-profile" type="text">
                        </div>
                        
                        <button class="w-100 mt-2 rounded-pill btn btn-primary signup a-font-p" type="submit">send reset link</button>
                        
                        <p class="mt-4 mb-5 fw-border">Don't have an account?
                            <a class="a-font-p" style="color:#75CCDD !important;" asp-action="SignUp" asp-area="Auth" asp-controller="Auth">sign up</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
