@{
    ViewData["Title"] = "Forgot Password Complete";
}

<div class="vertical-center text-center bg-grey-veesy bg-auth">
    <div class="container">
        <div class="row row-login-padding">
            <div class="col-md-6 offset-md-3">
                <form method="post">
                    <h1 class="h3 mt-3 mb-3 fw-normal" style="color: #202f4d;">Trouble with loggin in?</h1>
                    <h5 class="mt-3 mb-3 size-custom">Enter your email address or username, we'll send you a link to reset your password.</h5>
                    <div style="height: 20px;"></div>
                    
                    <div class="text-center rounded size-custom" style="background-color: #B7DBE3; font-weight:  500;">
                        reset link sent!<br/>check your email to reset your password.
                    </div>
                    <p class="mt-4 mb-3 fw-border size-custom">
                        <a style="color:#75CCDD;" asp-action="Login" asp-area="Auth" asp-controller="Auth">Login</a>
                    </p>
                    <p class="mt-4 mb-3 fw-border size-custom">Don't have an account?
                        <a style="color:#75CCDD;" asp-action="SignUp" asp-area="Auth" asp-controller="Auth">Sign up</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>