@model Veesy.Presentation.Model.Auth.ResetPasswordViewModel 
@{
    ViewData["Title"] = "Reset Password";
}

    <div class="vertical-center text-center bg-grey-veesy bg-auth">
        <div class="container">
            <div class="row row-login-padding">
                <div class="col-md-6 offset-md-3">
                    <form method="post">
                        @Html.HiddenFor(s => s.Email)
                        @Html.HiddenFor(s => s.Token)
                        <h1 class="h3 mt-3 mb-3 fw-normal" style="color: #202f4d;">Choose a new password!</h1>
                        <h5 class="mt-3 mb-3 size-custom">Please, enter your new password.</h5>

                        <div style="height: 20px;"></div>
                        <div class="input-group">
                            <label class="fw-border size-custom">Password*</label>
                            <input asp-for="Password" class="input--style-1 mt-2" type="password">
                        </div>
                        <div class="input-group">
                            <label class="fw-border size-custom">Confirm password*</label>
                            <input asp-for="PasswordConfirm" class="input--style-1 mt-2" type="password">
                        </div>

                        <button class="w-100 mt-2 rounded-pill btn btn-primary signup" type="submit">change password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>