@model Veesy.Presentation.Model.Auth.VerifyEmailViewModel
@{
    ViewData["Title"] = "VerifyEmail";
}
<style>
    
</style>

<div class="vertical-center text-center bg-grey-veesy" style="border-bottom-left-radius: 45px; border-top-left-radius: 45px; margin-left: -25px; margin-top: -1.5vh;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="post">
                    <h1 class="h3 mb-3 mt-2 fw-normal">Welcome to <b>Veesy</b><br/> Community!</h1>
                    <div style="height: 20px;"></div>
                    <div class="text-center rounded size-custom" style="background-color: #B7DBE3; font-weight:  500;">
                        well done,<br/>check your email and confirm your account!
                    </div>

                    <button class="w-100 mt-4 rounded-pill btn btn-primary signup" type="submit">view dashboard</button>
                </form>
            </div>
        </div>
    </div>
</div>