@{
    ViewData["Title"] = "Portfolios";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-2 col-md-12"></div>
        <div class="col-8 col-md-12"></div>
        <div class="col-2 col-md-12"></div>
    </div>
</div>