@model Veesy.Presentation.Model.Cloud.EditViewModel
@{
    ViewData["Title"] = "Edit Media";
}

<div class="row pt-7rem">
    <div class="col-sm-12 col-md-2"></div>
    <div class="text-white col-sm-12 col-md-8">
        <h1><strong>EditMedia</strong></h1>
        <div class="row">
            <div class="col-sm-12 col-md-7">
                 @if (Model.Media.Type == ".mp4")
                 {
                     <video autoplay="autoplay" muted loop class="img-rounded-trasparent w-100 shadow-1-strong rounded" alt="@Model.Media.OriginalFileName">
                         <source src="@Model.BasePath@Model.Media.FileName?tr=w-1080" type="video/mp4">
                     </video>
                 }
                 else
                 {
                     <img asp-append-version="true" src="@Model.BasePath@Model.Media.FileName?tr=w-1080" class="img-rounded-trasparent w-100 shadow-1-strong rounded" alt="@Model.Media.OriginalFileName"/>
                 }
            </div>
            <div class="col-sm-12 col-md-5"></div>
        </div>
    </div>
    <div class="col-sm-12 col-md-2"></div>
</div>